<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/news">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/BBC_News_2019.svg/1200px-BBC_News_2019.svg.png"
      width="75px"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link text-danger dropdown-toggle" data-bs-toggle="dropdown" href="/news" role="button" aria-expanded="false">Категории</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/news">Главная</a></li>
          <li><a class="dropdown-item" href="/news/category/60d3463c3c703703b81357de">Политика</a></li>
          <li><a class="dropdown-item" href="/news/category/60d346453c703703b81357e0">Экономика</a></li>
          <li><a class="dropdown-item" href="/news/category/60d3464d3c703703b81357e2">Спорт</a></li>
          <li><a class="dropdown-item" href="/news/category/60d346593c703703b81357e4">Общество</a></li>
          <li><a class="dropdown-item" href="/news/category/60d3466b3c703703b81357e6">Covid-2021</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="news/category/60d3463c3c703703b81357de" role="button" aria-expanded="false">Политика</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/news/60d4747eec8a1b15c0aa23ce">Европа</a></li>
          <li><a class="dropdown-item" href="/news/60d347a43c703703b81357ea">Россия</a></li>
          <li><a class="dropdown-item" href="/news/60d347df3c703703b81357ec">Чечня</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Экономика</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/news/60d348c03c703703b81357ee">Деньги</a></li>
          <li><a class="dropdown-item" href="/news/60d349053c703703b81357f0">Недвижимость</a></li>
          <li><a class="dropdown-item" href="/news/60d3493c3c703703b81357f2">Нефть</a></li>

        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Спорт</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/news/60d4471fe3bde13750b6f2b6">Футбол</a></li>
          <li><a class="dropdown-item" href="/news/60d44774e3bde13750b6f2b8">Хоккей</a></li>
          <li><a class="dropdown-item" href="/news/60d447b4e3bde13750b6f2ba">Атлетика</a></li>

        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Общество</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/news/60d4481ce3bde13750b6f2bc">Семья</a></li>
          <li><a class="dropdown-item" href="/news/60d44890e3bde13750b6f2be">Здоровье</a></li>
          <li><a class="dropdown-item" href="/news/60d448d3e3bde13750b6f2c0">Досуг</a></li>

        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Covid-2021</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/news/60d44930e3bde13750b6f2c2">Вакцинация</a></li>
          <li><a class="dropdown-item" href="/news/60d44977e3bde13750b6f2c4">Ограничения</a></li>
          <li><a class="dropdown-item" href="/news/60d449a9e3bde13750b6f2c6">ПЦР-тест</a></li>

        </ul>
      </li>

      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="поиск"
          aria-label="Search"
        />
        <a href="/news"><button class="btn btn-primary" type="button">Поиск</button></a>
      </form>

    </div>
  </div>
</nav>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>